sentencepiece
git+https://github.com/huggingface/diffusers
lightning
Pillow
pydantic
torch
utils
uvicorn
boto3
ultralytics
transformers
accelerate
peft
pydantic-settings
controlnet-aux
rembg
mediapipe
git+https://github.com/bhimrazy/LitServe.git@feat/multi-endpoints
torchao